{{#partial "content"}}
    <div class="new-animal-cont">
        <a href="/" class="redirect">Home Page</a>
        <div class="normal-species" id="normal">
            <h3>Normal Animal</h3>
            <form action="/new-animal" method="post">
                <input type="text" name="id" id="" placeholder="Animal id" required>
                <input type="text" name="name" id="" placeholder="Animal name" required>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="endangered-species" id="endangered">
            <h3>Endangered Animals</h3>
            <form action="/new-endangered" method="post">
                <input type="text" name="name" id="" placeholder="Animal name" required>
                <select name="health" required>
                    <option value="">Choose health options</option>
                    <option value="healthy">Stable Condition</option>
                    <option value="ill">Sick and Weakened</option>
                    <option value="injured">Injured</option>
                </select>
                <select name="age" required>
                    <option value="">Choose Age</option>
                    <option value="infant">Young</option>
                    <option value="new-born">Infant</option>
                    <option value="old">Old</option>
                    <option value="teen">Average</option>
                </select>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}